### Question:
### Can a machine learning model decide if a person should or should not eat a specific food product given that they have Fatty Liver Disease?
This will not include AFLD/NASH/Fibrosis/etc
###### We are going to choose a random product.

In [20]:
#Here is a random link!
# https://www.kaggle.com/datasets/openfoodfacts/world-food-facts?resource=download

In [2]:
import pandas as pd
#import numpy as np
import seaborn as sns

In [6]:
df = pd.read_csv("nutritional.tsv", sep="\t")

C:\Users\igarcialopez\AppData\Local\Temp\ipykernel_37660\1857380657.py:1: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("nutritional.tsv", sep="\t")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356027 entries, 0 to 356026
Columns: 163 entries, code to water-hardness_100g
dtypes: float64(107), object(56)
memory usage: 442.8+ MB

In [13]:
keep_these = ['product_name', 'energy_100g', 'fat_100g', 'saturated-fat_100g', 'trans-fat_100g', 'cholesterol_100g',
             'carbohydrates_100g', 'sugars_100g', 'fiber_100g', 'proteins_100g', 'sodium_100g', 'calcium_100g']

In [14]:
df = df.loc[:, keep_these]

In [19]:
#df.info() #this the old one hahahahahaha

In [16]:
df = df.dropna()

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 127787 entries, 1 to 356022
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   product_name        127787 non-null  object
 1   energy_100g         127787 non-null  float64
 2   fat_100g            127787 non-null  float64
 3   saturated-fat_100g  127787 non-null  float64
 4   trans-fat_100g      127787 non-null  float64
 5   cholesterol_100g    127787 non-null  float64
 6   carbohydrates_100g  127787 non-null  float64
 7   sugars_100g         127787 non-null  float64
 8   fiber_100g          127787 non-null  float64
 9   proteins_100g       127787 non-null  float64
 10  sodium_100g         127787 non-null  float64
 11  calcium_100g        127787 non-null  float64
dtypes: float64(11), object(1)
memory usage: 12.7+ MB

In [21]:
df.head()

,product_name,energy_100g,fat_100g,saturated-fat_100g,trans-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,sodium_100g,calcium_100g
1,Banana Chips Sweetened (Whole),2243.0,28.57,28.57,0.0,0.018,64.29,14.29,3.6,3.57,0.000,0.000
2,Peanuts,1941.0,17.86,0.00,0.0,0.000,60.71,17.86,7.1,17.86,0.250,0.071
79,Granola Cranberry And Acai,1824.0,10.91,0.91,0.0,0.000,74.55,25.45,5.5,9.09,0.100,0.036
82,"Peanuts, Mixed Nuts",2389.0,42.86,7.14,0.0,0.000,25.00,14.29,7.1,25.00,0.214,0.071
148,Cranberries,1255.0,0.00,0.00,0.0,0.000,83.33,66.67,10.0,0.00,0.000,0.000