In [1]:
import pandas as pd
import numpy as np
import seaborn

from bs4 import BeautifulSoup
import requests

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [15]:
df = pd.read_csv("contestants.csv")

In [18]:
df = df.drop("Height", axis=1)
df = df.dropna(subset=["ElimWeek", "Age"])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 405 entries, 1 to 422
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        405 non-null    object
 1   Age         405 non-null    float64
 2   Occupation  405 non-null    object
 3   Hometown    405 non-null    object
 4   ElimWeek    405 non-null    float64
 5   Season      405 non-null    int64
dtypes: float64(2), int64(1), object(3)
memory usage: 22.1+ KB

In [22]:
df["Season"].value_counts()

15    29
19    29
20    27
21    27
18    26
9     25
11    25
17    25
1     24
2     24
5     24
10    24
12    24
13    24
14    24
16    24
Name: Season, dtype: int64

In [44]:
#X = df[["Age", "Season"]] ### We are switching this up, 
X = df[["ElimWeek", "Season"]]
#y = df[["ElimWeek"]]
y = df[["Age"]]

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)

In [46]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [47]:
X_train

     ElimWeek  Season
390       1.0      20
298       2.0      17
301       1.0      17
297       3.0      17
135       4.0      11
..        ...     ...
74        1.0       5
112       3.0      10
281       1.0      16
362       1.0      19
108       4.0      10

[202 rows x 2 columns]

In [48]:
slope = model.coef_[0]  #These are x
intercept = model.intercept_  #This is y

print(slope, intercept)

[-0.15774319 -0.00659176] [26.75608622]

In [51]:
# y = -0.092x + 0.047x + 4.67   This was the first equation when the prediction was for elimweek

In [55]:
math_test = (-0.157 * 7) + (-0.0065 * 19) + 26
math_test

24.7775

In [52]:
from sklearn.metrics import mean_squared_error, r2_score
import math

In [53]:
y_pred = model.predict(X_test)
mse = math.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)
print(mse, r2)

2.8532058524262442 -0.01841967926839505

In [42]:
df["Season"].unique()

array([ 1,  2,  5,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21],
      dtype=int64)

In [43]:
df.head()

,Name,Age,Occupation,Hometown,ElimWeek,Season
1,Trista Rehn,29.0,Miami Heat Dancer,"Miami, Florida",6.0,1
2,Shannon Oliver,24.0,Financial Management Consultant,"Dallas, Texas",5.0,1
3,Kim,24.0,Nanny,"Tempe, Arizona",4.0,1
4,Cathy Grimes,22.0,Graduate Student,"Terra Haute, Indiana",3.0,1
5,Christina,28.0,Attorney,"Bonita, California",3.0,1