# RFP: Betting on the Bachelor

## Project Overview
You are invited to submit a proposal that answers the following question:

### Who will win season 29 of the Bachelor?

*All proposals must be submitted by **1/15/25 at 11:59 PM**.*

## Required Proposal Components

### 1. Data Description
In the code cell below, read in the data you plan on using to train and test your model. Call `info()` once you have read the data into a dataframe. Consider using some or all of the following sources:
- [Scrape Fandom Wikis](https://bachelor-nation.fandom.com/wiki/The_Bachelor) or [the official Bachelor website]('https://bachelornation.com/shows/the-bachelor/')
- [Ask ChatGPT to genereate it](https://chatgpt.com/)
- [Read in csv files like this](https://www.kaggle.com/datasets/brianbgonz/the-bachelor-contestants?select=contestants.csv)

*Note, a level 5 dataset contains at least 1000 rows of non-null data. A level 4 contains at least 500 rows of non-null data.*

In [11]:
# Read data into a dataframe.
# Don't forget to call info()!
import pandas as pd
import seaborn as sn
import numpy as np
import requests

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

df = pd.read_csv("contestants.csv")

In [15]:
df = df.drop("Height", axis=1)
df = df.dropna(subset=["ElimWeek", "Age"])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 405 entries, 1 to 422
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        405 non-null    object
 1   Age         405 non-null    float64
 2   Occupation  405 non-null    object
 3   Hometown    405 non-null    object
 4   ElimWeek    405 non-null    float64
 5   Season      405 non-null    int64
dtypes: float64(2), int64(1), object(3)
memory usage: 22.1+ KB

In [20]:
df2 = pd.read_csv("chatContestants.csv")
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              174 non-null    object
 1   Age               174 non-null    int64
 2   Occupation        174 non-null    object
 3   Height            174 non-null    object
 4   Hometown          174 non-null    object
 5   Ethnicity         174 non-null    object
 6   Elimination Week  174 non-null    int64
 7   Season            174 non-null    int64
dtypes: int64(3), object(5)
memory usage: 11.0+ KB

In [28]:
df.head()

,Name,Age,Occupation,Hometown,ElimWeek,Season
1,Trista Rehn,29.0,Miami Heat Dancer,"Miami, Florida",6.0,1
2,Shannon Oliver,24.0,Financial Management Consultant,"Dallas, Texas",5.0,1
3,Kim,24.0,Nanny,"Tempe, Arizona",4.0,1
4,Cathy Grimes,22.0,Graduate Student,"Terra Haute, Indiana",3.0,1
5,Christina,28.0,Attorney,"Bonita, California",3.0,1

In [30]:
df["Season"].value_counts()

15    29
19    29
20    27
21    27
18    26
9     25
11    25
17    25
1     24
2     24
5     24
10    24
12    24
13    24
14    24
16    24
Name: Season, dtype: int64

### 2. Training Your Model
In the cell seen below, write the code you need to train a linear regression model. Make sure you display the equation of the plane that best fits your chosen data at the end of your program. 

*Note, level 5 work trains a model using only the standard Python library and Pandas. A level 5 model is trained with at least two features, where one of the features begins as a categorical value (e.g. occupation, hometown, etc.). A level 4 uses external libraries like scikit or numpy.*

In [36]:
X = df[["Age", "Season"]]
y = df[["ElimWeek"]]

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [39]:
# Train model here.
# Don't forget to display the equation of the plane that best fits your data!
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [40]:
slope = model.coef_[0]
intercept = model.intercept_

print(slope, intercept)

[-0.08451196  0.09333178] [4.12475036]

#### y = -0.08x + 5.3

### 3. Testing Your Model
In the cell seen below, write the code you need to test your linear regression model. 

*Note, a model is considered a level 5 if it achieves at least 60% prediction accuracy or achieves an RMSE of 2 weeks or less.*

In [2]:
# Test model here.

In [25]:
from sklearn.metrics import mean_squared_error, r2_score

In [33]:
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(mse, r2)

5.8683478107448765 -0.004336132781123103

In [35]:
model.predict(X_test)

array([[3.14868318],
       [2.98190696],
       [3.06529507],
       [3.31545939],
       [3.31545939],
       [3.06529507],
       [3.31545939],
       [3.31545939],
       [3.3988475 ],
       [2.98190696],
       [3.06529507],
       [2.98190696],
       [3.23207128],
       [3.23207128],
       [2.56496642],
       [2.98190696],
       [2.89851885],
       [3.31545939],
       [3.23207128],
       [3.14868318],
       [3.14868318],
       [3.23207128],
       [3.14868318],
       [3.06529507],
       [3.23207128],
       [3.06529507],
       [3.06529507],
       [3.31545939],
       [3.31545939],
       [2.81513074],
       [3.23207128],
       [2.98190696],
       [2.89851885],
       [3.3988475 ],
       [3.06529507],
       [3.31545939],
       [3.48223561],
       [3.31545939],
       [2.81513074],
       [2.98190696],
       [3.23207128],
       [3.3988475 ],
       [2.98190696],
       [3.14868318],
       [3.14868318],
       [2.89851885],
       [2.73174264],
       [3.3988475 ],
       [2.48157831],
       [2.89851885],
       [2.3981902 ],
       [2.89851885],
       [3.06529507],
       [2.98190696],
       [3.23207128],
       [2.81513074],
       [3.23207128],
       [3.3988475 ],
       [2.89851885],
       [3.14868318],
       [3.14868318],
       [3.3988475 ],
       [3.31545939],
       [3.31545939],
       [2.81513074],
       [3.31545939],
       [3.14868318],
       [3.06529507],
       [3.48223561],
       [2.98190696],
       [3.14868318],
       [2.89851885],
       [3.48223561],
       [3.06529507],
       [3.31545939],
       [3.3988475 ],
       [3.14868318],
       [2.48157831],
       [3.31545939],
       [3.3988475 ],
       [3.31545939]])

### 4. Final Answer

In the first cell seen below, state the name of your predicted winner. 
In the second cell seen below, justify your prediction using an evaluation technique like RMSE or percent accuracy.

#### State the name of your predicted winner here.

#### Justify your prediction here.