In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

from sklearn.cluster import KMeans

In [4]:
df = pd.read_csv("penguins.csv")
df.head()

   culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g     sex
0              39.1             18.7              181.0       3750.0    MALE
1              39.5             17.4              186.0       3800.0  FEMALE
2              40.3             18.0              195.0       3250.0  FEMALE
3               NaN              NaN                NaN          NaN     NaN
4              36.7             19.3              193.0       3450.0  FEMALE

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   culmen_length_mm   342 non-null    float64
 1   culmen_depth_mm    342 non-null    float64
 2   flipper_length_mm  342 non-null    float64
 3   body_mass_g        342 non-null    float64
 4   sex                335 non-null    object
dtypes: float64(4), object(1)
memory usage: 13.6+ KB

In [ ]:
penguin_test, _ = train_test_split(df, test_size=0.2, random_state=42)
penguin_test = penguin_test[['body_mass_g', 'culmen_length_mm', 'flipper_length_mm  ']]