In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split

from sklearn.cluster import KMeans

In [11]:
df = pd.read_csv("penguins.csv")
df.head()

   culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g     sex
0              39.1             18.7              181.0       3750.0    MALE
1              39.5             17.4              186.0       3800.0  FEMALE
2              40.3             18.0              195.0       3250.0  FEMALE
3               NaN              NaN                NaN          NaN     NaN
4              36.7             19.3              193.0       3450.0  FEMALE

In [12]:
df = df.dropna()

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 335 entries, 0 to 343
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   culmen_length_mm   335 non-null    float64
 1   culmen_depth_mm    335 non-null    float64
 2   flipper_length_mm  335 non-null    float64
 3   body_mass_g        335 non-null    float64
 4   sex                335 non-null    object
dtypes: float64(4), object(1)
memory usage: 15.7+ KB

In [14]:
penguin_test, _ = train_test_split(df, test_size=0.2, random_state=42)
penguin_test = penguin_test[['body_mass_g', 'culmen_length_mm', 'flipper_length_mm']]

In [20]:
model = KMeans(n_clusters = 4)

In [21]:
model.fit(penguin_test)

KMeans(n_clusters=4)

In [22]:
model.cluster_centers_

array([[3291.53846154,   39.79846154,  188.50769231],
       [5521.27659574,   49.27234043,  220.85106383],
       [4621.79487179,   45.08205128,  203.33333333],
       [3855.44871795,   43.65384615,  193.82051282]])