In [53]:
import pandas as pd
import seaborn as sn
import numpy as np
import json

#### This is for the tracks csv

In [ ]:
def makeTHATdf():
    df = pd.read_csv("tracks.csv")
    df = df.dropna()

In [54]:
df = pd.read_csv("tracks.csv")

In [55]:
df = df.dropna()

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 586601 entries, 0 to 586671
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                586601 non-null  object
 1   name              586601 non-null  object
 2   popularity        586601 non-null  int64
 3   duration_ms       586601 non-null  int64
 4   explicit          586601 non-null  int64
 5   artists           586601 non-null  object
 6   id_artists        586601 non-null  object
 7   release_date      586601 non-null  object
 8   danceability      586601 non-null  float64
 9   energy            586601 non-null  float64
 10  key               586601 non-null  int64
 11  loudness          586601 non-null  float64
 12  mode              586601 non-null  int64
 13  speechiness       586601 non-null  float64
 14  acousticness      586601 non-null  float64
 15  instrumentalness  586601 non-null  float64
 16  liveness          586601 non-null  float64
 17  valence           586601 non-null  float64
 18  tempo             586601 non-null  float64
 19  time_signature    586601 non-null  int64
dtypes: float64(9), int64(6), object(5)
memory usage: 94.0+ MB

### This is for Ms.Spindt's vetting playlist

In [57]:
#df2 = pd.read_json("vetting_playlist.json")

In [58]:
with open("vetting_playlist.json", 'r') as file:
    data = json.load(file)

In [59]:
data.keys()

dict_keys(['collaborative', 'description', 'external_urls', 'followers', 'href', 'id', 'images', 'name', 'owner', 'primary_color', 'public', 'snapshot_id', 'tracks', 'type', 'uri'])

In [60]:
#data['tracks']['items']

In [61]:
#data['tracks']

In [62]:
data['tracks'].keys()

dict_keys(['href', 'items', 'limit', 'next', 'offset', 'previous', 'total'])

In [63]:
songs = []
for item in data.get("tracks", {}).get("items", []):
    track = item.get("track", None)
    if track:
        song_info = {
            "id": track.get("id"),
            "name": track.get("name"),
            "album": track.get("album", {}).get("name"),
            "artist": track.get("album", {}).get("artists", [{}])[0].get("name"),
            "release_date": track.get("album", {}).get("release_date"),
            "image_url": track.get("album", {}).get("images", [{}])[0].get("url")
        }
        songs.append(song_info)

df2 = pd.DataFrame(songs)

In [64]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            146 non-null    object
 1   name          146 non-null    object
 2   album         146 non-null    object
 3   artist        146 non-null    object
 4   release_date  146 non-null    object
 5   image_url     146 non-null    object
dtypes: object(6)
memory usage: 7.0+ KB

In [74]:
#df2['name'].unique()

#### 1st Feature! This is getting the years from the release dates in order to find the songs that are within the 
#### prefered time range which was around 2010~ish

In [76]:
df['release_date'].head()

0    1922-02-22
1    1922-06-01
2    1922-03-21
3    1922-03-21
4          1922
Name: release_date, dtype: object

In [77]:
df["release_date"] = pd.to_datetime(df["release_date"], errors="coerce")

In [78]:
#df["release_date"]

0        1922-02-22
1        1922-06-01
2        1922-03-21
3        1922-03-21
4               NaT
            ...
586667   2020-09-26
586668   2020-10-21
586669   2020-09-02
586670   2021-03-05
586671   2015-07-01
Name: release_date, Length: 586601, dtype: datetime64[ns]

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 586601 entries, 0 to 586671
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                586601 non-null  object
 1   name              586601 non-null  object
 2   popularity        586601 non-null  int64
 3   duration_ms       586601 non-null  int64
 4   explicit          586601 non-null  int64
 5   artists           586601 non-null  object
 6   id_artists        586601 non-null  object
 7   release_date      448010 non-null  datetime64[ns]
 8   danceability      586601 non-null  float64
 9   energy            586601 non-null  float64
 10  key               586601 non-null  int64
 11  loudness          586601 non-null  float64
 12  mode              586601 non-null  int64
 13  speechiness       586601 non-null  float64
 14  acousticness      586601 non-null  float64
 15  instrumentalness  586601 non-null  float64
 16  liveness          586601 non-null  float64
 17  valence           586601 non-null  float64
 18  tempo             586601 non-null  float64
 19  time_signature    586601 non-null  int64
dtypes: datetime64[ns](1), float64(9), int64(6), object(4)
memory usage: 94.0+ MB

In [80]:
df["release_year"] = df["release_date"].dt.year

In [83]:
df['release_year'].unique()

array([1922.,   nan, 1923., 1924., 1925., 1926., 1927., 1928., 1929.,
       1930., 1931., 1932., 1933., 1934., 1935., 1936., 1937., 1938.,
       1939., 1940., 1941., 1942., 1943., 1944., 1945., 1946., 1947.,
       1948., 1949., 1950., 1951., 1952., 1953., 1954., 1955., 1956.,
       1957., 1958., 1959., 1960., 1961., 1962., 1963., 1964., 1965.,
       1966., 2008., 2020., 2018., 1997., 2006., 2012., 2015., 2011.,
       2007., 1996., 2021., 2013., 2014., 2017., 1967., 1968., 1969.,
       1970., 1971., 1972., 1973., 1974., 1975., 1976., 1977., 1978.,
       1979., 1980., 1981., 1982., 1983., 1984., 1985., 1986., 1987.,
       1988., 1989., 1990., 1991., 1992., 1993., 1994., 1995., 1998.,
       1999., 2000., 2019., 2016., 2010., 2009., 2004., 2005., 2001.,
       2002., 2003., 1900.])

In [85]:
miniDF = df[(df["release_year"] >= 2000) & (df["release_year"] <= 2020)]

In [86]:
miniDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 189124 entries, 39501 to 586671
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                189124 non-null  object
 1   name              189124 non-null  object
 2   popularity        189124 non-null  int64
 3   duration_ms       189124 non-null  int64
 4   explicit          189124 non-null  int64
 5   artists           189124 non-null  object
 6   id_artists        189124 non-null  object
 7   release_date      189124 non-null  datetime64[ns]
 8   danceability      189124 non-null  float64
 9   energy            189124 non-null  float64
 10  key               189124 non-null  int64
 11  loudness          189124 non-null  float64
 12  mode              189124 non-null  int64
 13  speechiness       189124 non-null  float64
 14  acousticness      189124 non-null  float64
 15  instrumentalness  189124 non-null  float64
 16  liveness          189124 non-null  float64
 17  valence           189124 non-null  float64
 18  tempo             189124 non-null  float64
 19  time_signature    189124 non-null  int64
 20  release_year      189124 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(6), object(4)
memory usage: 31.7+ MB